@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    height: auto;
    width: 100%;
    background-color: #ffffff;
}

section {
    height: 100vh;
}

.section-1 {
    display: flex;
    flex-direction: column;
}

.section-1 nav {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;
}

#logo {
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 15px;
}

nav ul li:nth-child(3) {
    border-right: 1px solid grey;
}

#content-container {
    display: flex;
    flex-grow: 1;
}

#right-hero {
    background: url(./assets/heroimage.png) no-repeat center;
    background-size: cover;
    flex-basis: 50%;
}

#left-hero {
    flex-basis: 50%;
    padding: 40px 60px;
}

#left-hero-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#mission {
    height: 280px;
    width: 590px;
    font-size: 62px;
    line-height: 70px;
    font-weight: 700;
}

#read {
    display: flex;
    width: 230px;
    align-items: center;
    font-size: 27px;
    margin-bottom: 30px;
}

#read p {
    margin-right: 10px;
    cursor: pointer;
}

#read p:hover {
    transition: 500ms;
    border-bottom: 1px solid black;
    margin-right: 20px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    background-color:#E6E9EB;
    height: 2221.33px;
    width: 1263.33px;
}

#section-2-container {
    display: flex;
    flex-direction: column;
    height: 2221.33px;
    width: 1152px;
    margin: 0 56px;
}

#section-2-header {
    height: 404px;
    width: 552px;
    padding: 160px 0 120px 0;
}

#section-2-header h5 {
    height: 124px;
    width: 552px;
    font-size: 34.22px;
    font-weight: 550;
    line-height: 41.62px;
    word-spacing: 0px;
}

#brand-elements {
    height: 53.333px;
    width: 1152px;
    font-size: 45.6296px;
    line-height: 53.6296px;
    word-spacing: 0px;
}

#brand-elements h4 {
    height: auto;
    width: auto;
    display: inline;
    font-weight: 800;
}

#section-2-layout {
    display: flex;
    flex-direction: column;
    height: 1536px;
    width: 1152px;
}

#layout-top {
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
}

#layout-bottom {
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
}

#top-row-1, #top-row-2, #top-row-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#logo-layout {
    display: block;
    flex-grow: 0.33;
    background: url(./assets/col11.png) no-repeat center;
    background-size: 60%;
    background-color: white;
}

#typography {
    display: block;
    flex-grow: 0.69;
    background: url(./assets/col12.png) no-repeat center;
    background-size: cover;
}

#iconography, #palette, #ilustration {
    display: block;
    flex-grow: 0.333;
}

#iconography {
    background: url(./assets/col21.png) no-repeat center;
    background-size: cover;
}

#palette {
    background: url(./assets/col22.svg) no-repeat center;
    background-size: 60%;
    background-color: white;
}

#ilustration {
    background: url(./assets/col23.png) no-repeat center;
    background-size: cover;
}

#supergraphic {
    display: block;
    flex-grow: 0.68999;
    background: url(./assets/col31.png) no-repeat center;
    background-size: 70%;
    background-color: #f0efeb;
}

#vocal {
    display: block;
    flex-grow: 0.31001;
    background: url(./assets/col32.svg) no-repeat center;
    background-size: 50%;
    background-color: #cfdbd5;
}

#bottom-row-1 {
    display: flex;
    flex-basis: 65.3%;
    background-color:#E6E9EB;
}

#bottom-row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    flex-basis: 34.7%;
    background-color: #ef233c;
}

#element {
    font-size: 60px;
    color: white;
}

#logo:hover , #typography:hover,
#iconography:hover, #palette:hover, #ilustration:hover,
#supergraphic:hover, #vocal:hover,
#bottom-row-2:hover {
    opacity: 60%;
    cursor: pointer;
}

#logo, #typography, #iconography, #palette, #ilustration, #supergraphic, #vocal, #bottom-row-2 {
    padding: 15px;
    font-size: 15px;
    color: #333533;
}

.subheading-content {
    font-size: 20px;
    font-weight: 300;
}

.section-3-container {
    height: 715.865px;
    width: 1152px;
    margin: 0 56px;
    padding: 100px 0 80px 0;
}

#resources-header {
    display: block;
    font-size: 45.6296px;
    font-weight: 700;
    line-height: 53.6296px;
    height: 53.3333px;
    width: 1152px;
}

#resources-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -50px;
}

#bazaar, #thinking, #research {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    margin-top: 56px;
    margin-left: 50px;
    height: 402.531px;
}

.rebody {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    opacity: 0;
    position: absolute;
    width: 352px;
    height: 273.4px;
    margin-top: 125.5px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 900;
    background: #333533;
}

.text {
    margin: 95px;
}

#resources-content h6 {
    font-size: 23.4074px;
    font-weight: 700;
    line-height: 28px;
}

#resources-content p {
    font-size: 20px;
    line-height: 24px;
    height: 48px;
    width: 352px;
    margin: 8px 0 40px 0;
    min-width: auto;
    min-height: auto;
}

#bazaar:hover .middle, #thinking:hover .middle, #research:hover .middle {
    opacity: 0.7;
    transition: .5s ease;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 228px;
    width: 1152px;
    margin: 0 56px;
    padding: 80px 0;
}

#footer-menu {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 500px;
    margin: 0 0 20px 0;
}

#copyright {
    display: block;
    height: 68px;
    width: 252px;
    min-height: auto;
    min-width: auto;
}

#copyright span {
    font-size: 28px;
    line-height: 36px;
}

#copyright b {
    font-weight: 700;
}

#copyright p {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    width: 252px;
    margin-top: 8px;
}

#footer-menu p:hover {
    cursor: pointer;
    color: grey;
}