* {
    margin: 0;
    padding: 0;
}
/* .orangeContainer {
  background-color: orange;
  padding: 5%;
  margin-bottom: 2%;
}

.greenContainer {
  background-color: greenyellow;
  padding: 15% 0;
  margin-bottom: 2%;
}

.blueContainer {
  background-color: blue;
  padding: 6% 0;
  margin-bottom: 2%;
}

.grayContainer {
  background-color: grey;
  padding: 8% 0;
  margin-bottom: 2%;
} */

.sizing1 {
    height: 80px;
}

.sizing2 {
    height: 50vw;
}

.sizing3a {
    height: 200px;
}

.sizing3b {
    height: 175px;
}

.sizing3c {
    height: 150px;
}