#link {
    height: 24px;
    width: 930px;
    margin: 0 0 16px 0;
    /* background-color: yellow; */
    text-align: center;
    list-style-type: none;
    list-style-position: outside;
}

#link li  {
    font-size: 16px;
    line-height: 24px;
    display: inline;
}

#link li + li {
    font-size: 16px;
    line-height: 24px;
    display: inline;
}

#link li + li + li {
    font-size: 16px;
    line-height: 24px;
    display: inline;
}

a {
    text-decoration: none;
    transition: 0s;
}
a:hover {   
    text-decoration: underline;
}

#penutup {
    height: 24px;
    width: 930px;
    margin: 0 0 4px 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:  #6C757D
}