#content-1 {
    height: 1107px;
    width: 639.984px;
    padding: 0 15px;
    /* background-color: plum; */
    min-height: auto;
    max-width: 66.6667%;
    min-width: auto;
    text-align: left;
}

#content-1 h4 {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    height: 28px;
    width: 609.984px;
    margin: 0 0 16px 0;
    line-height: 28.8px;
    /* background-color: lemonchiffon; */
}

#form {
    height: 1063px;
    width: 609.984px;
    /* background-color: yellow; */
    text-align: left;
    display: block;
}

#row-1 {
    display: flex;
    height: 86px;
    width: 639.984px;
    margin: 0 -15px;
    text-align: left;
    /* background-color: tomato; */
}

#firstname {
    height: 70px;
    width: 319.984px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    text-align: left;
    min-height: auto;
    max-width: 50%;
    min-width: auto;
    /* background-color: teal; */
    position: relative;
}

#lastname {
    height: 70px;
    width: 319.984px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    text-align: left;
    min-height: auto;
    max-width: 50%;
    min-width: auto;
    /* background-color: darkolivegreen; */
    position: relative;
}

#firstname label {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    width: 73.1875px;
    margin: 0 0 8px 0;
}

#firstname input {
    height: 38px;
    width: 283.656px;
    border: 1px solid #CED4DA;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
}

#lastname label {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    width: 71.6094px;
    margin: 0 0 8px 0;
}

#lastname input {
    height: 38px;
    width: 289.984px;
    border: 1px solid #CED4DA;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
}

#row-2 label {
    height: 24px; 
    width: 71.0625px ;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
}

#row-2 span {
    height: 38px;
    width: 41.2812px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    display: flex;
    background-color:  #E9ECEF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    white-space: nowrap;
    word-spacing: 0px;
}

#row-2 input {
    height: 38px;
    width: 569.703px;
    border: 1px solid #CED4DA;
    padding: 6px 12px 6px 12px;
    min-height: auto;
    display: block;
    position: relative;
    line-height: 24px;
    font-size: 16px;
}

#row-2 div {
    display: flex;
}

#row-2 {
    height: 70px;
    width: 609.984px;
    margin: 0 0 16px 0;
    /* background-color: powderblue; */
    line-height: 24px;
    text-align: left;
    display: block;
}

#row-3 {
    height: 70px;
    width: 609.984px;
    margin: 0 0 16px 0;
    /* background-color: darkorange; */
    line-height: 24px;
    text-align: left;
    display: block;
}

#row-4 {
    height: 70px;
    width: 609.984px;
    margin: 0 0 16px 0;
    /* background-color: darkcyan; */
    line-height: 24px;
    text-align: left;
    display: block;
}

#row-5 {
    height: 70px;
    width: 609.984px;
    margin: 0 0 16px 0;
    /* background-color: darkgreen; */
    line-height: 24px;
    text-align: left;
    display: block;
}

#row-6 {
    height: 86px;
    width: 639.984px;
    margin: 0 -15px 0 -15px;
    display: flex;
    text-align: left;
    /* background-color: hotpink; */
}

#checkbox-1 {
    height: 24px;
    width: 609.984px;
    padding: 0 0 0 24px;
    min-height: 24px;
    /* background-color: khaki; */
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    /* z-index: 1; */
}

#checkbox-2 {
    height: 24px;
    width: 609.984px;
    padding: 0 0 0 24px;
    min-height: 24px;
    /* background-color: burlywood; */
}

hr {
    height: 0px;
    width: 609.984px;
    color:  #212529;  
    margin: 16px 0 24px 0;
}

#radio-1 {
    height: 24px;
    width: 609.984px;
    padding: 0 0 0 24px;
    min-height: 24px;
    /* background-color: cadetblue; */
}

#radio-2 {
    height: 24px;
    width: 609.984px;
    padding: 0 0 0 24px;
    min-height: 24px;
    /* background-color: firebrick; */
}

#radio-3 {
    height: 24px;
    width: 609.984px;
    padding: 0 0 0 24px;
    min-height: 24px;
    /* background-color: royalblue; */
}

#row-7 {
    height: 110px;
    width: 639.984px;
    margin: 0 -15px 0 -15px;
    display: flex;
    /* background-color: tan; */
}

#row-8 {
    height: 86px;
    width: 639.984px;
    margin: 0 -15px 0 -15px;
    display: flex;
    /* background-color: aquamarine; */
}

#btncheckout {
    height: 48px;
    width: 609.984px;
    border: 1px solid  #007BFF;
    padding: 8px 16px 8px 16px;
    background-color:  #007BFF;
    border-radius: 4.8px;
    font-size: 20px;
    line-height: 30px;
    color:  #FFFFFF
}

#email {
    height: 24px;
    width: 113.031px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

#opsional {
    font-size: 16px;
    line-height: 24px;
    color:  #6C757D
}

#form-email {
    height: 38px;
    width: 609.984px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#label-address {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(33, 37, 41);
    height: 24px;
    width: 56.6719px;
    margin: 0 0 8px 0;
}

#address {
    height: 38px;
    width: 609.984px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#label-address-2 {
    height: 24px;
    width: 144.938px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

#opsional-2 {
    height: auto;
    width: auto;
    font-size: 16px;
    line-height: 24px;
    color:  #6C757D;
}

#address-2 {
    height: 38px;
    width: 609.984px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#country {
    height: 70px;
    width: 266.656px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    min-height: auto;
    max-width: 41.6667%;
    min-width: auto;
    /* background-color: mediumaquamarine; */
}

#state {
    height: 70px;
    width: 213.328px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    min-height: auto;
    max-width: 33.3333%;
    min-width: auto;
    /* background-color: lavenderblush; */
}

#zip {
    height: 70px;
    width: 159.984px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    min-height: auto;
    max-width: 25%;
    min-width: auto;
    /* background-color: lightcoral */
}

#label-country {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    width: 56.125px;
    margin: 0 0 8px 0;
}

#select-country {
    height: 38px;
    width: 236.656px;
    border: 1px solid  #CED4DA;
    padding: 6px 28px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#label-state {
    height: 24px;
    width: 35.3438px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

#select-state {
    height: 38px;
    width: 183.328px;
    border: 1px solid  #CED4DA;
    padding: 6px 28px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#label-zip {
    height: 24px;
    width: 22.4062px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

#input-zip {
    height: 38px;
    width: 129.984px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#input-checkbox-1 {
    height: 24px;
    width: 357.062px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
}

#input-checkbox-2 {
    height: 24px;
    width: 243.828px;
    font-size: 16px;
    line-height: 24px;
}

#input-radio-1 {
    height: 24px;
    width: 77.4531px;
}

#input-radio-2 {
    height: 24px;
    width: 73.1875px;
}

#input-radio-3 {
    height: 24px;
    width: 44.7344px;
}

#namecard {
    height: 94px;
    width: 319.984px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    min-height: auto;
    max-width: 50%;
    min-width: auto;
}

#label-namecard {
    height: 24px;
    width: 99.9688px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

#input-namecard {
    height: 38px;
    width: 289.984px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#small-namecard {
    font-size: 12.8px;
    line-height: 19.2px;
    color:  #6C757D
}

#cardnumber {
    height: 94px;
    width: 319.984px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    min-height: auto;
    max-width: 50%;
    min-width: auto;
    font-size: 16px;
    line-height: 24px;
}

#label-cardnumber {
    height: 24px;
    width: 137.062px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

#input-cardnumber {
    height: 38px;
    width: 289.984px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#expiration {
    height: 70px;
    width: 159.984px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    min-height: auto;
    max-width: 25%;
    min-width: auto;
}

#expiration label {
    height: 24px;
    width: 70.1562px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

#expiration input {
    height: 38px;
    width: 129.984px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

#cvv {
    height: 70px;
    width: 159.984px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    min-height: auto;
    max-width: 25%;
    min-width: auto;
}

#cvv label {
    height: 24px;
    width: 29.7812px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

#cvv input {
    height: 38px;
    width: 129.984px;
    border: 1px solid  #CED4DA;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}