* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: white;
    height: 3902.59px;
}
header {
    background-color: white;
    height: 96px;
    padding: 0 72px;
}
#header-content {
    background-color: white;
    height: 96px;
    width: 1281px;
    padding: 28px 0;
    position: relative;
    display: flex;
}
#header-logo {
    height: 40px;
    width: 39px;
    position: relative;
    display: inline;
}
#header-menu {
    background-color: white;
    height: 24px;
    width: 531.531px;
    position: relative;
    display: flex;
    margin-top: 8px;
    margin-left: 710px;
}
.pointer {
    cursor: pointer;
}
p {
    margin-top: 2.5px;
    margin-left: 61px;
    flex-grow: 1;
}


#container {
    background-color: white;
    height: 725px;
    width: 1296px;
    margin: 0 65px;
    display: grid;
}
#left-hero {
    background-color: white;
    width: 624px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#hero-title {
    background-color: white;
    height: 288px;
    width: auto;
    margin: 100px 0 0 0;
    display: block;
    font-size: 60px;
    line-height: 72px;
    font-weight: 1;
}
#hero-logo {
    height: 725px;
    width: 619.188px;
    position: absolute;
    top: 96px;
    bottom: 0;
    right: 0;
    left: 805.812px;
}
#asd {
    height: 38px;
    width: 240px;
    margin: 164px 0 0 0;
    max-width: 240px;
    position: relative;
    display: flex;
    text-decoration: none;
}
#qwe {
    font-size: 26px;
    line-height: 36px;
    color: black;
    height: 38px;
    width: 193.094px;
    margin: 0;
}

#container-2 {
    background-color: #E6E9EB;
    height: 2424px;
}
#container-2a {
    height: 2424px;
    width: 1296px;
    margin: 0 65px;
    display: grid;
}
#content-1 {
    height: 412px;
    width: 624px;
    padding: 160px 0 120px 0;
    display: block;
}
#content-1a {
    height: 132px;
    width: 624px;
    display: block;
    font-size: 36px;
    line-height: 44px;
    font-weight: 100;
}
#content-2 {
    height: 104px;
    padding: 20px 0 28px 0;
    display: block;
}
#content-2a {
    height: 56px;
    display: block;
    font-size: 48px;
    line-height: 56px;
}
#content-3 {
    height: 1908px;
    width: 1296px;
    padding: 20px 0 160px 0;
    display: block;
}
#grid {
    height: 1728px;
    width: 1296px;
    display: grid;
}
#item-1 {
    height: 432px;
    width: 432px;
    background-color: white;
    background-image: url("./col11.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170px;
}
#item-2 {
    height: 432px;
    width: 432px;
    background-color: #3838A9;
    background-image: url("./col21.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;

}
#item-3 {
    height: 864px;
    width: 432px;
    background-color: white;
    background-image: url("./col31.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}
#item-4 {
    height: 864px;
    width: 432px;
    margin-top: -432px;
    background-color: white;
    background-image: url("./col12.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 432px;
}
#item-5 {
    height: 432px;
    width: 432px;
    margin-top: -432px;
    background-color: white;
    background-image: url("./col22.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
}
#item-6 {
    height: 432px;
    width: 432px;
    margin-left: 432px;
    margin-top: -432px;
    background-color: white;
    background-image: url("./col23.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 433px;
}
#item-7 {
    height: 432px;
    width: 432px;
    margin-top: -432px;
    background-color: #E7F4F2;
    background-image: url("./col32.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
#item-8 {
    background-color: #E1496D;
    height: 432px;
    width: 432px;
    margin-left: 864px;
}
.bikinRow {
    display: flex;
    flex-direction: row;
}
.bikinColumn {
    display: flex;
    flex-direction: column;
}
.geser {
    padding-left: 500px;
}
h2 {
    font-weight: 100;
}

#container-3 {
    height: 753.594px;
    width: 1296px;
    margin: 0 65px;
    padding: 100px 0 80px 0;
    display: grid;
}
#h4 {
    height: 56px;
    width: 1296px;
    font-size: 48px;
    font-size: 700;
    line-height: 56px;
}
#item-a {
    height: 517.594px;
    width: 400px;
    margin-right: 48px;
}
#item-b {
    height: 517.594px;
    width: 400px;
    margin-right: 48px;
}
#item-c {
    height: 517.594px;
    width: 400px;
}
#auah {
    height: 309.594px;
    width: 400px;
}
#container-4 {
    height: 228px;
    width: 1296px;
    margin: 0 65px;
    padding: 80px 0;
}
#terakhir {
    height: 40px;
    width: 624px;
    margin: 0 0 20px 0;
}

.gatau {
    height: 24px;
    padding-top: 10px;
    padding-right: 42px;
    cursor: pointer;
}