*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

section{
    height: 120vh;
}

.section-1{
    display: flex;
    flex-direction: column;
}

nav{
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 70px;
    /* background-color: aqua; */
}
.logo{
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
}
nav ul li:nth-child(3){
    border-right: solid 1px lightgrey;
}

.content{
    display: flex;
    flex-grow: 1;
    /* background-color: brown; */

}

.kanan{
    background: url(./img/heroimage.png) no-repeat center;
    background-size: cover;
    flex-basis: 44%;
}

.kiri{
    flex-basis: 56%;
    /* background-color: burlywood; */
    
}

.isi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 80px 50px 60px;
    /* background-color: crimson; */
    height: 100%;
    


}

.tulisan{
    font-size: 3.75rem;
    /* background-color: chartreuse; */
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.read a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    /* background-color: coral; */
}

.read a:hover{
    text-decoration: underline;
    padding-right: 10px;
    transition: 300ms;
}


/* SECTION 2*/

.section-2{
    background-color:  #E6E9EB;
    padding-left: 70px;
    padding-top: 150px;
    width: 100%;
    height: 145.5rem;


}

.tulisan-2{
    font-size: 35.1778px;
    line-height: 42.9037px;
    width: 45%;
    margin-bottom:160px ;
    /* background-color: blue; */
}
h1{
    font-size: 46.9037px;
font-weight: 700;
margin-bottom: 80px;
}
.isi-box{
    display: flex;
    /* flex-direction: column; */
    /* background-color: blue; */
    height: 114rem;

    /* height: 20rem; */
}

.col-1, .col-2, .col-3{
    display: flex;
    flex-direction: column;
}

.col-1 div{
    width: 400px;
    height: 400px;
    background-color: white;
    /* border: grey solid 1px; */
}
.box-2, .box-6{
    flex-grow: 0.39;
}

.col-2 div{
    width: 400px;
    height: 400px;
    /* background-color: white; */
    /* border: grey solid 1px; */
}
.box-6,.box-7,.box-8{
    width: 400px;
    height: 400px;
    /* background-color: white; */
    /* border: grey solid 1px; */
}
.box-6{
    flex-grow: 0.64;
}


.box-1 {
    background:url(./img/col11.png) center no-repeat;
    background-size: 150px;
    padding: 15px;
    line-height: 1;
}
.box-3 {
    background:url(./img/col21.png) center no-repeat;
    background-size:contain;
    background-color: #3838a8;
    padding: 15px;
}
.box-6 {
    background:url(./img/col31.png) center no-repeat;
    background-size: 300px;
    background-color: #f5f5f5;
    padding: 15px;
}

.box-2 {
    background:url(./img/col12.png) center no-repeat;
    background-size: cover;
    padding: 15px;
}

.box-4 {
    background:url(./img/col22.svg) center no-repeat;
    background-size: 250px;
    background-color:white;
    padding: 15px;
}
.box-5 {
    background:url(./img/col23.png) center no-repeat;
    background-size: 270px;
    background-color:#f5f5f5;;
    padding: 15px;
}
.box-7 {
    background:url(./img/c.svg) center no-repeat;
    background-size: 200px;
    background-color:#e8f8f5;
    padding: 15px;
}
.box-8 {
    background-color:#e31f52;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}


.seeall label{
    font-size: 50px ;
    color: white;
}
.seeall{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.arah i{
    font-size: 30px;
    color: white;
}
.arah{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.section-3{
    padding-left: 70px;
    padding-top: 100px;
    background-color: white;
    padding-left: 70px;

}

.resources{
    display: flex;
    height: 30rem;
    
    /* background-color: yellow; */
    
}

.rs-1{
    /* background-color: violet; */
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.rs-2{
    /* background-color:red; */
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.rs-3{
    /* background-color: palegoldenrod; */
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.text{
    flex-basis: 30%;
    /* background-color: peru; */
}

.img1{
    flex-basis: 70%;
    background-color: rebeccapurple;
    background: url(./img/rebody1.png) no-repeat;
    background-size: cover;
}
.img2{
    flex-basis: 70%;
    background-color: rebeccapurple;
    background: url(./img/rebody2.png) no-repeat;
    background-size: cover;
}
.img3{
    flex-basis: 70%;
    background-color: rebeccapurple;
    background: url(./img/rebody3.png) no-repeat;
    background-size: cover;
}

.col-1 div:hover{
    opacity: 0.8;
    cursor: pointer;
}
.col-2 div:hover{
    opacity: 0.8;
    cursor: pointer;
}
.col-3 div:hover{
    opacity: 0.8;
    cursor: pointer;
}


footer{
    /* background-color:  blue; */
    height: 10rem;
    padding-left: 70px;
    padding-right: 70px;
    /* height: 96px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list ul li{
    /* display: inline-block; */
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}

.bukalapak p{
    font-size: 20px;
}

